- @hide_top_links = true
- @hide_breadcrumbs = true
- page_title       @user.name
- page_description @user.bio
- header_title     @user.name, user_path(@user)
- @no_container = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, user_url(@user, format: :atom), title: "#{@user.name} activity")

.user-profile
  .cover-block.user-cover-block.top-area
    .cover-controls
      - if @user == current_user
        = link_to profile_path, class: 'btn btn-default has-tooltip', title: 'Edit profile', 'aria-label': 'Edit profile' do
          = icon('pencil')
      - elsif current_user
        - if @user.abuse_report
          %button.btn.btn-danger{ title: 'Already reported for abuse',
            data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } }
            = icon('exclamation-circle')
        - else
          = link_to new_abuse_report_path(user_id: @user.id, ref_url: request.referrer), class: 'btn',
            title: 'Report abuse', data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } do
            = icon('exclamation-circle')
      = link_to user_path(@user, rss_url_options), class: 'btn btn-default has-tooltip', title: 'Subscribe', 'aria-label': 'Subscribe' do
        = icon('rss')
      - if current_user && current_user.admin?
        = link_to [:admin, @user], class: 'btn btn-default', title: 'View user in admin area',
          data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
          = icon('users')

    .profile-header
      .avatar-holder
        = link_to avatar_icon_for_user(@user, 400), target: '_blank', rel: 'noopener noreferrer' do
          = image_tag avatar_icon_for_user(@user, 90), class: "avatar s90", alt: ''

      .user-info.prepend-left-default.append-right-default
        .cover-title
          = @user.name

        .cover-desc.member-date
          %span.middle-dot-divider
            @#{@user.username}
          %span.middle-dot-divider
            Member since #{@user.created_at.to_date.to_s(:long)}

        .cover-desc
          - unless @user.public_email.blank?
            .profile-link-holder.middle-dot-divider
              = link_to @user.public_email, "mailto:#{@user.public_email}", class: 'text-link'
          - unless @user.skype.blank?
            .profile-link-holder.middle-dot-divider
              = link_to "skype:#{@user.skype}", title: "Skype" do
                = icon('skype')
          - unless @user.linkedin.blank?
            .profile-link-holder.middle-dot-divider
              = link_to linkedin_url(@user), title: "LinkedIn", target: '_blank', rel: 'noopener noreferrer nofollow' do
                = icon('linkedin-square')
          - unless @user.twitter.blank?
            .profile-link-holder.middle-dot-divider
              = link_to twitter_url(@user), title: "Twitter", target: '_blank', rel: 'noopener noreferrer nofollow' do
                = icon('twitter-square')
          - unless @user.website_url.blank?
            .profile-link-holder.middle-dot-divider
              = link_to @user.short_website_url, @user.full_website_url, class: 'text-link', target: '_blank', rel: 'noopener noreferrer nofollow'
          - unless @user.location.blank?
            .profile-link-holder.middle-dot-divider
              = icon('map-marker')
              = @user.location
          - unless @user.organization.blank?
            .profile-link-holder.middle-dot-divider
              = icon('briefcase')
              = @user.organization

    - if @user.bio.present?
      .cover-desc
        %p.profile-user-bio
          = @user.bio

    .scrolling-tabs-container
      .fade-left= icon('angle-left')
      .fade-right= icon('angle-right')
      %ul.nav-links.user-profile-nav.scrolling-tabs.nav.nav-tabs
        - if profile_tab?(:activity)
          %li.js-activity-tab
            = link_to user_path, data: { target: 'div#activity', action: 'activity', toggle: 'tab' } do
              Activity
        - if profile_tab?(:groups)
          %li.js-groups-tab
            = link_to user_groups_path, data: { target: 'div#groups', action: 'groups', toggle: 'tab', endpoint: user_groups_path(format: :json) } do
              Groups
        - if profile_tab?(:contributed)
          %li.js-contributed-tab
            = link_to user_contributed_projects_path, data: { target: 'div#contributed', action: 'contributed', toggle: 'tab', endpoint: user_contributed_projects_path(format: :json) } do
              Contributed projects
        - if profile_tab?(:projects)
          %li.js-projects-tab
            = link_to user_projects_path, data: { target: 'div#projects', action: 'projects', toggle: 'tab', endpoint: user_projects_path(format: :json) } do
              Personal projects
        - if profile_tab?(:snippets)
          %li.js-snippets-tab
            = link_to user_snippets_path, data: { target: 'div#snippets', action: 'snippets', toggle: 'tab', endpoint: user_snippets_path(format: :json) } do
              Snippets

  %div{ class: container_class }
    .tab-content
      - if profile_tab?(:activity)
        #activity.tab-pane
          .row-content-block.calender-block.white.second-block.hidden-xs
            .user-calendar{ data: { calendar_path: user_calendar_path(@user, :json), calendar_activities_path: user_calendar_activities_path, utc_offset: Time.zone.utc_offset, thumbsup_tally: @thumbsup_tally,thumbsdown_tally: @thumbsdown_tally } }
              %h4.center.light
                %i.fa.fa-spinner.fa-spin
            .user-calendar-activities

          - if can?(current_user, :read_cross_project)
            %h4.prepend-top-20
              Most Recent Activity
            .content_list{ data: { href: user_path } }
            = spinner

      - if profile_tab?(:groups)
        #groups.tab-pane
          -# This tab is always loaded via AJAX

      - if profile_tab?(:contributed)
        #contributed.tab-pane
          -# This tab is always loaded via AJAX

      - if profile_tab?(:projects)
        #projects.tab-pane
          -# This tab is always loaded via AJAX

      - if profile_tab?(:snippets)
        #snippets.tab-pane
          -# This tab is always loaded via AJAX

    .loading-status
      = spinner


  / def self.jobs_categorizing(jobs)
  /   occurrence = Job.find_occurrence(jobs)
  /   categories = occurrence.sort_by { |_key, value| value } if occurrence.present?
  /   Job.find_categories(categories)
  / end

  / def self.find_occurrence(jobs)
  /   counts = Hash.new 0
  /   jobs.map(&:current_categorizing).try(:each) do |item|
  /     counts[item] += 1
  /   end
  /   counts
  / end

  /  def self.find_categories(categories)
  /   categorizing = []
  /   categories.try(:each) do |category|
  /     categorizing.push([category[0],category[1]])
  /   end
  / end 