- flag = local_assigns.fetch(:flag)
- css_class = 'no-description' if flag.flag_type.blank?

%li.group-row{ class: css_class }
  .controls
  .stats
    %span
      = icon('users')
      = number_with_delimiter(flag.users.count)
  .title
    = link_to [:admin, flag], class: 'flag-name' do
      = flag.flag_type

