- show_roles = local_assigns.fetch(:show_roles, true)
- show_controls = local_assigns.fetch(:show_controls, true)
- force_mobile_view = local_assigns.fetch(:force_mobile_view, false)
- member = local_assigns.fetch(:member)
- user = local_assigns.fetch(:user, member)

%li.member{ class: dom_class(member), id: dom_id(member) }
  %span.list-item-name
    - if user
      = image_tag avatar_icon_for_user(user, 40), class: "avatar s40", alt: ''
      .user-info
        = link_to user.name, user_path(user), class: 'member'
        %span.cgray= user.to_reference

        - if user == current_user
          %span.badge.badge-success.prepend-left-5 It's you

        - if user.blocked?
          %label.badge.badge-danger
            %strong Blocked

        - if user.two_factor_enabled?
          %label.label.label-info
            2FA
    - else
      = image_tag avatar_icon_for_email(member.invite_email, 40), class: "avatar s40", alt: ''
      .user-info
        .member= member.invite_email
        .cgray
          Invited
          - if member.created_by
            by
            = link_to member.created_by.name, user_path(member.created_by)
          = time_ago_with_tooltip(member.created_at)
