- add_to_breadcrumbs _("Flags"), admin_flags_path
- breadcrumb_title @flag.flag_type
- page_title @flag.flag_type, _("Flags")
%h3.page-title
  = _('Flag: %{group_name}') % { group_name: @flag.flag_type }

%hr
.row
  .col-md-6
    .card
      .card-header
        = _('Flag info:')
      %ul.content-list
        %li
          %span.light= _('Flag Type:')
          %strong= @flag.flag_type

        %li
          %span.light= _('Created on:')
          %strong
            = @flag.created_at.to_s(:medium)
  .col-md-6
    .card
      .card-header
        = _('Add user(s) to the flag:')
      .card-body.form-holder
        = form_tag admin_flag_members_update_path(@flag), id: "new_project_member", class: "bulk_import", method: :put  do
          %div
            = select_tag(:user_ids, options_from_collection_for_select(User.all, "id", "name"), include_blank: true, required: true, placeholder: "Search for a user",class: 'select2', multiple: true )
          %hr
          = button_tag _('Add users to group'), class: "btn btn-create"

    .card
      .card-header
        = _("<strong>%{group_name}</strong> group members").html_safe % { group_name: @flag.flag_type }
        %span.badge.badge-pill= @members.size
      %ul.content-list.group-users-list.content-list.members-list
        = render partial: 'member', collection: @members, as: :member, locals: { show_controls: false }
      .card-footer
        = paginate @members, param_name: 'members_page', theme: 'gitlab'